.profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-image {
  height: 150px;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'roboto';
  color: #12022f;
}
p {
  font-size: 16px;
  font-weight: 500;
  font-family: 'roboto';
  color: #616e7c;
}
